#script { font-size: 60pt;}
h1 { margin-top: 60pt;}
#udhr { font-size: 15pt;}
.glyph { font-size: 40pt;}

#content {
  position:relative;
}
#content:after {
  content:"";
  position:absolute;
  bottom:0px;
  right:0px;
  height:50px;
  width:30%;
  background:linear-gradient(135deg, transparent 50px, white 50px);
}